{% extends "admin/head.html" %}
{% block content %}
<!--sidebar end-->
<!--main content start-->
<section id="main-content">
	<section class="wrapper">
		<div class="table-agile-info">
 <div class="panel panel-default">
    <div class="panel-heading">
     Products 
    </div>
    <div>
      <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
        <thead>
          <tr>
              <th>S.No</th>
              <th>Product Name</th>
              <th>Price</th>
              <th>Offer price</th>
              <th>Image</th>
              

          </tr>
        </thead>
        <tbody>
          {% for x in datas %}
          <tr>
                <td>{{forloop.counter}}</td>
                <td>{{x.name}}</td>
                <td>{{x.price}}</td>
                <td>{{x.offer}}</td>
                <td><img src="{{x.image.url}}" width="200px" height="200px" style="object-fit: contain;"></td>
                <td><a href="/admupdate/?regid={{x.id}}"><i class="fa fa-edit"></i></a> </td>
                <td><a href="/admdelete/?regid={{x.id}}"><i class="fa fa-trash"></i></a> </td>
                
          </tr>
          {% endfor %}
          <!-- <tr>
            <td>2</td>
            <td>Elodia</td>
            <td>Weisz</td>
            <td>Wallpaperer Helper</td>
          </tr> -->
          
        <!--     <td>March 30th 1982</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Raeann</td>
            <td>Haner</td>
            <td>Internal Medicine Nurse Practitioner</td>
           
            <td>February 26th 1966</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Junie</td>
            <td>Landa</td>
            <td>Offbearer</td>
           
            <td>March 29th 1966</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Solomon</td>
            <td>Bittinger</td>
            <td>Roller Skater</td>
           
            <td>September 22nd 1964</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Bar</td>
            <td>Lewis</td>
            <td>Clown</td>
           
            <td>August 4th 1991</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Usha</td>
            <td>Leak</td>
            <td>Ships Electronic Warfare Officer</td>
          
            <td>November 20th 1979</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Lorriane</td>
            <td>Cooke</td>
            <td>Technical Services Librarian</td>
           
            <td>April 7th 1969</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
</section>
 <!-- footer -->
{% endblock %}
