{%  extends 'headerfooter.html' %}
{% block content %}
      <div class="breadcrumb-contentnhy">
        <div class="container">
          <nav aria-label="breadcrumb">
            <h2 class="hny-title text-center">Ecommerce</h2>
            <ol class="breadcrumb mb-0">
              <li><a href="index.html">Home</a>
                <span class="fa fa-angle-double-right"></span></li>
              <li class="active">Shop Single</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
</div></section>
<section class="w3l-ecommerce-main-inn">
	<!--/ecommerce-single-->
	<div class="ecomrhny-content-inf py-5">
		<div class="container py-lg-5">
			<!--/row1-->
			{% for x in data %}
			<div class="sp-store-single-page row">
				<div class="col-lg-5 single-right-left">
					<div class="flexslider1">

						
						<div class="clearfix"></div>
					<div class="flex-viewport" style="overflow: hidden; position: relative;">
						<div class="thumb-image"> <img src="{{x.image.url}}" style="width: 445px;height: 534px;object-fit: contain;" data-imagezoom="true" class="img-fluid" alt=" "> </div>
						<!-- <ul class="slides" style="width: 1200%; transition-duration: 0.6s; transform: translate3d(-890px, 0px, 0px);"><li data-thumb="/static/assets/images/cart4.jpg" class="clone" style="width: 445px; float: left; display: block;">
								<div class="thumb-image"> <img src="/static/assets/images/cart4.jpg" data-imagezoom="true" class="img-fluid" alt=" "> </div>
							</li>
							<li data-thumb="/static/assets/images/cart1.jpg" class="" style="width: 445px; float: left; display: block;">
								<div class="thumb-image"> <img src="/static/assets/images/cart1.jpg" data-imagezoom="true" class="img-fluid" alt=" "> </div>
							</li>
							<li data-thumb="/static/assets/images/cart2.jpg" class="flex-active-slide" style="width: 445px; float: left; display: block;">
								<div class="thumb-image"> <img src="/static/assets/images/cart2.jpg" data-imagezoom="true" class="img-fluid" alt=" "> </div>
							</li>
							<li data-thumb="/static/assets/images/cart3.jpg" class="" style="width: 445px; float: left; display: block;">
								<div class="thumb-image"> <img src="/static/assets/images/cart3.jpg" data-imagezoom="true" class="img-fluid" alt=" "> </div>
							</li>
							<li data-thumb="/static/assets/images/cart4.jpg" class="" style="width: 445px; float: left; display: block;">
								<div class="thumb-image"> <img src="/static/assets/images/cart4.jpg" data-imagezoom="true" class="img-fluid" alt=" "> </div>
							</li>
						<li data-thumb="/static/assets/images/cart1.jpg" class="clone" style="width: 445px; float: left; display: block;">
								<div class="thumb-image"> <img src="/static/assets/images/cart1.jpg" data-imagezoom="true" class="img-fluid" alt=" "> </div>
							</li></ul> --></div><!-- <ol class="flex-control-nav flex-control-thumbs"><li><img src="/static/assets/images/cart1.jpg" class=""></li><li><img src="/static/assets/images/cart2.jpg" class="flex-active"></li><li><img src="/static/assets/images/cart3.jpg" class=""></li><li><img src="/static/assets/images/cart4.jpg" class=""></li></ol> --><!-- <ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul> --></div>
					<div class="eco-buttons mt-5">

						<div class="transmitv single-item">
							<form action="/addtocart/?pid={{x.id}}" method="post">
								{% csrf_token %}
								<!-- <input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="transmitv_item" value="Yellow T-Shirt">
								<input type="hidden" name="amount" value="599.99"> -->
								<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart read-2">
									Add to Cart
								</button>
							</form>
						</div>
						<div class="buyhny-now"> <a href="#buy" class="action btn">Buy Now </a></div>

					</div>
				</div>
				<div class="col-lg-7 single-right-left pl-lg-4">
					<h3>{{x.name}}</h3>
					<div class="caption">

						<ul class="rating-single">
							<li>
								<a href="#">
									<span class="fa fa-star yellow-star" aria-hidden="true"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-star yellow-star" aria-hidden="true"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-star yellow-star" aria-hidden="true"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-star-half-o yellow-star" aria-hidden="true"></span>
								</a>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-star-half yellow-star" aria-hidden="true"></span>
								</a>
							</li>
						</ul>

						<h6>
							<span class="item_price">&#8377;{{x.offer}}</span>
							<del>&#8377;{{x.price}}</del> Free Delivery
						</h6>
					</div>
					<!-- <div class="desc_single my-4">
						<ul class="emi-views">
							<li><span>Special Price</span> Get extra 5% off (price inclusive of discount)</li>
							<li><span>Bank Offer</span> 5% Unlimited Cashback on Flipkart Axis Bank Credit Card</li>
							<li><span>Bank Offer</span> 5% Cashback* on HDFC Bank Debit Cards</li>
							<li><span>Bank Offer</span> Extra 5% off* with Axis Bank Buzz Credit Card</li>
						</ul>
					</div> -->
					<!-- <div class="desc_single mb-4">
						<h5>Description:</h5>
						<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere, ratione et ipsam velit
							explicabo deleniti obcaecati a, numquam, unde quisquam quas quae accusamus eveniet magni.
							Nobis iure et porro aut..</p>
					</div> -->
					<!-- <div class="description-apt d-grid mb-4">
						<div class="occasional">
							<h5 class="sp_title mb-3">Highlights:</h5>
							<ul class="single_specific">
								<li>
									Neck : Round Neck</li>
								<li>
									Fit : Regular</li>

								<li> Sleeve : Half Sleeve
								</li>
								<li> Material : Pure Cutton</li>

							</ul>

						</div>

						<div class="color-quality">
							<h5 class="sp_title">Services:</h5>
							<ul class="single_serv">
								<li>
									<a href="#">30 Day Return Policy</a>
								</li>
								<li class="gap">
									<a href="#">Cash on Delivery available</a>
								</li>
							</ul>
						</div>
					</div> -->
					<!-- <div class="description mb-4">
						<h5>Check delivery, payment options and charges at your location</h5>
						<form action="#" class="d-flex" method="post">
							<input type="text" placeholder="Enter pincode" required="">
							<button class="submit btn" type="submit">Check</button>
						</form>
					</div> -->

				</div>
			</div>
		</div>
		<!--//row1-->
	</div>
	<!--//ecommerce-single-->
	{% endfor %}
</section>
<section class="w3l-ecommerce-main w3l-ecommerce-main-inn">
	<!-- /content-6-section -->
	<div class="content-singlev-ecomm py-5">
		<div class="container py-lg-5">
			<div class="two-products-single row">
				<div class="col-md-6 pro-grid-left">
					<div class="pro-grid-one">
						<div class="product-des-hny">
							<h4 class="text-wthree">WOMEN'S FASHION
								<br>50% OFF </h4>
								<a href="#" class="read-more-btn2 btn">
									Shop Now
								</a>
						</div>
					</div>
				</div>

				<div class="col-md-6 pro-grid-right">
					<div class="pro-grid-one pro-grid-two">
						<div class="product-des-hny">
							<h4 class="text-wthree">MEN'S FASHION
								<br>60% OFF </h4>
							<a href="#" class="read-more-btn2 btn">
								Shop Now
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- //content-6-section -->
<section class="w3l-ecommerce-main">
	<!-- /products-->
	<div class="ecom-contenthny py-5">
		<div class="container py-lg-5">
		<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->

 
</div>
			<h3 class="hny-title mb-0 text-center">Featured <span>Products</span></h3>
			<p class="text-center">New Collections Shop With Us</p>
			<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>
			<!-- /row-->
			<div class="ecom-products-grids row mt-lg-5 mt-3">
				<div class="col-lg-3 col-6 product-incfhny mt-4">
					<div class="product-grid2 transmitv">
						<div class="product-image2">
							<a href="ecommerce-single.html">
								<img class="pic-1 img-fluid" src="/static/assets/images/shop-1.jpg">
								<img class="pic-2 img-fluid" src="/static/assets/images/shop-11.jpg">
							</a>
							<ul class="social">
									<li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>

									<li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
									</li>
							</ul>
							<div class="transmitv single-item">
							<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1">
									<input type="hidden" name="transmitv_item" value="Women Maroon Top">
									<input type="hidden" name="amount" value="899.99">
									<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
										Add to Cart
									</button>
								</form>
							</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="ecommerce-single.html">Women Maroon Top </a></h3>
							<span class="price"><del>$975.00</del>$899.99</span>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-6 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="ecommerce-single.html">
								<img class="pic-1 img-fluid" src="/static/assets/images/shop-2.jpg">
								<img class="pic-2 img-fluid" src="/static/assets/images/shop-22.jpg">
							</a>
							<ul class="social">
									<li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>

									<li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
									</li>
							</ul>
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="Men's Pink Shirt">
											<input type="hidden" name="amount" value="599.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="ecommerce-single.html">Men's Pink Shirt </a></h3>
							<span class="price"><del>$775.00</del>$599.99</span>
						</div>
					</div>

				</div>
				<div class="col-lg-3 col-6 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="ecommerce-single.html">
								<img class="pic-1 img-fluid" src="/static/assets/images/shop-3.jpg">
								<img class="pic-2 img-fluid" src="/static/assets/images/shop-33.jpg">
							</a>
							<ul class="social">
									<li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>

									<li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
									</li>
							</ul>
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="Dark Blue Top">
											<input type="hidden" name="amount" value="799.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="ecommerce-single.html">Dark Blue Top </a></h3>
							<span class="price"><del>$875.00</del>$799.99</span>
						</div>
					</div>

				</div>
				<div class="col-lg-3 col-6 product-incfhny mt-4">
					<div class="product-grid2">
						<div class="product-image2">
							<a href="ecommerce-single.html">
								<img class="pic-1 img-fluid" src="/static/assets/images/shop-4.jpg">
								<img class="pic-2 img-fluid" src="/static/assets/images/shop-44.jpg">
							</a>
							<ul class="social">
									<li><a href="#" data-tip="Quick View"><span class="fa fa-eye"></span></a></li>

									<li><a href="ecommerce.html" data-tip="Add to Cart"><span class="fa fa-shopping-bag"></span></a>
									</li>
							</ul>
							<div class="transmitv single-item">
									<form action="#" method="post">
											<input type="hidden" name="cmd" value="_cart">
											<input type="hidden" name="add" value="1">
											<input type="hidden" name="transmitv_item" value="Women Tunic">
											<input type="hidden" name="amount" value="399.99">
											<button type="submit" class="transmitv-cart ptransmitv-cart add-to-cart">
												Add to Cart
											</button>
										</form>
									</div>
						</div>
						<div class="product-content">
							<h3 class="title"><a href="ecommerce-single.html">Women Tunic </a></h3>
							<span class="price"><del>$475.00</del>$399.99</span>
						</div>
					</div>
				</div>
			</div>
			<!-- //row-->
		</div>
	</div>
</section>
<!-- //products-->

<div style="margin: 8px auto; display: block; text-align:center;">

<!---728x90--->
 
</div>
{% endblock %}
